MISTRAL_API_KEY=your_mistral_api_key
# TAVILY_API_KEY=your_tavily_api_key  
LANGSMITH_API_KEY=your_langsmith_api_key
FLIGHT_MCP_API_KEY=your_flight_mcp_api_key
GEOAPIFY_API_KEY=your_geoapify_api_key
FLIGHTAPI_KEY=